doctype html
html(lang="pt-br")

  head
    //- style
    //- ===========================================
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="assets/styles/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" )
    include includes/custom-style.html

    //- meta
    //- ===========================================
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="icon" href="assets/img/favicon.png")

    //- Open graph
    //- ===========================================
    meta(property="og:type" content="website")
    meta(property="og:title" content="My Website")
    meta(property="og:description" content="My personal website")
    meta(property="og:url" content="https://simoneas02.github.io/")
    meta(property="og:image" content="https://simoneas02.github.io/assets/img/share.png")

    //- Twitter cards
    //- ===========================================
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="My Website")
    meta(name="twitter:description" content="My personal website")
    meta(name="twitter:url" content="https://simoneas02.github.io/")
    meta(name="twitter:image" content="https://simoneas02.github.io/assets/img/share.png")


    //- Web Components
    //- ===========================================
    link(rel="import" href="../bower_components/made-with-heart/made-with-heart.html")
    link(rel="import" href="../bower_components/github-corner/github-corner.html")

    //- SEO
    //- ===========================================
    meta(name="description" content="My personal website")
    title My Website

  body
    github-corner(href="https://github.com/simoneas02/simoneas02.github.io")

    header(class="header")
      img(class="profile-picture" alt="Simone Amorim" src="assets/img/profile-picture.jpg")

      h1(class="heading-lv1") &lt; <span class="heading-highlight">Hello World </span>/&gt;

      p(class="text") I'm <strong class="bold">Simone Amorim </strong>, mother and <strong class="bold">studing </strong>for become a <strong class="bold">Front-End </strong>Developer and <strong class="bold">CSS Evangelist </strong>&lt;3 I love <strong class="bold">running </strong>and ride a <strong class="bold">bike</strong>!

      ul(class="icons-list")

        li(class="icon-item")
          a(class="icon-link" href="https://github.com/simoneas02" target="_blank")
            include includes/icon-github.html

        li(class="icon-item")
          a(class="icon-link" href="https://twitter.com/samorim02" target="_blank")
            include includes/icon-twitter.html

        li(class="icon-item")
          a(class="icon-link" href="https://www.linkedin.com/in/simone-amorim-311a3a87?trk=nav_responsive_tab_profile_pic" target="_blank")
            include includes/icon-linkedin.html

        //- li(class="icon-item")
        //-   a(class="icon-link" href="http://codepen.io/simoneas02/" target="_blank")
        //-     img(class="icon-svg" src="#" alt="Codepen")

    footer(class="footer")
      made-with-heart(href="https://simoneas02.github.io/") Simone Amorim

    //- script(type="text/javascript" src="assets/scripts/index.js")
