/* Custom Properties
=========================================== */
:root {
  --external-spacing: 20px;
  --internal-spacing: 10px;
  --main-color: #a652c5;
  --size: 200px;
}

border()
  border: 0 dashed #fff;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #212121;
  font-family: 'Roboto', sans-serif;
}

.header {
  align-items: center;
  border()
  border-top: 5px solid var(--main-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: calc(100% - 40px - var(--external-spacing));
  margin-bottom: var(--external-spacing);
  padding: var(--internal-spacing);
}

.profile-picture {
  border()
  border-radius: 50%;
  margin: var(--external-spacing) 0;
  width: 100%;
  max-width: var(--size);
}

.heading-highlight {
  color: #fff;
  font-weight: 300;
}
.heading-lv1 {
  border()
  color: var(--main-color);
  margin: var(--external-spacing) 0;
  padding: var(--internal-spacing) 0;
  text-align: center;
}

.text {
  border()
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: var(--external-spacing) auto;
  padding: var(--internal-spacing);
  text-align: center;
  width: 100%;
  max-width: calc(var(--size) *3);
}

.bold {
  color: var(--main-color);
}

.icons-list {
  border()
  padding-left: 0;
  text-align: center;
}

.icon-item {
  list-style: none;
  display: inline-block;
  margin: calc(var(--external-spacing)/3);
}

.icon-link {

}

.icon-svg {
  fill: var(--main-color);
  transition: opacity .5s;
  width: calc(var(--size) /5);
}

.icon-svg:hover {
  opacity: .6;
}

.footer {
  background: var(--main-color);
  border()
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--external-spacing);
  width: 100%;
  height: 40px;
}
