/* Custom Properties
=========================================== */
:root {
  --external-spacing: 30px;
  --internal-spacing: 20px;
  --main-color: #56038f;
}

border()
  border: 0 dashed;

* {
  box-sizing: border-box;
}

.header {
  border()
  border-top: 5px solid var(--main-color);
  text-align: center;
  margin-bottom: var(--external-spacing);
  padding: var(--internal-spacing);
}

.profile-picture {
  border()
  border-radius: 50%;
  width: 250px;
  margin: var(--external-spacing) 0;
}

.heading-lv1 {
  border()
  color: var(--main-color);
  margin: var(--external-spacing) 0;
  padding: var(--internal-spacing) 0;
  text-align: center;
}

.text {
  border()
  margin: var(--external-spacing) auto;
  padding: var(--internal-spacing);
  text-align: justify;
  width: 100%;
  max-width: 600px;
}

.bold {
  color: var(--main-color);
}

.icons-list {
  border()
  padding-left: 0;
  text-align: center;
}

.icon-item {
  list-style: none;
  display: inline-block;
  margin: calc(var(--external-spacing)/3);
}

.icon-link {

}

.icon-svg {

}

.footer {
  background: var(--main-color);
  border()
  color: #fff;
  margin-top: var(--external-spacing);
  padding: var(--internal-spacing);
  text-align: center;
}
